.chat-box {
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-message {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #0056b3;
}

.original-main {
    display: flex;
    justify-content: end;
}

.original {
    font-weight: bold;
    color: #475367;
    background: #EDF4FD;
    padding: 16px;
    width: 55%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.translated {
    font-style: italic;
    color: #475367;
    color: #475367;
    padding: 16px;
    width: 55%;
    display: flex;
    flex-direction: column;
}


.chat-body {
    /* margin-left: 214px; */
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

header {
    color: #2D2B32;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    display: flex;
}

.greeting {
    display: flex;
    justify-content: center;
    color: #0A090B;
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
}

.languages-main {
    display: flex;
    justify-content: space-between;
    width: 87%;
    align-items: center;
}

.dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 5px;
    margin-top: 5px;
    width: max-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-i {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 5px;
    margin-top: 5px;
    width: max-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: 70px;
}

.chat-input::placeholder {
    color: gray;
    transition: color 0.3s ease;
  }
  
  .chat-input.error::placeholder {
    color: red;
  }
  

.dropdown li {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-i li {
    padding: 11px 12px;
    cursor: pointer;
}

.dropdown li:hover {
    background: #f0f0f0;
}

.dropdown-toggle {
    position: relative;
    cursor: pointer;
}

h5 {
    color: var(--Global-Cool-Grey-800, #6B7180);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.textarea-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.language {
    display: flex;
    gap: 20px;
    height: fit-content;
    align-items: center;
}

.language-i {
    display: flex;
    gap: 6px;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.textarea {
    height: 162px;
    align-self: stretch;
    border: 1px solid #E4E7EC;
    background: #FFF;
    max-width: 90%;
}

.input-container {
    position: relative;
    width: 90%;
    display: flex;
    border-radius: 24px;
    border: 1px solid #ccc;
}

.input-container textarea {
    width: 100%;
    padding: 20px 0px 126px 16px;
    border: none;
    border-radius: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    max-height: 200px;
    outline: none;
    resize: none;
}

.send-button {
    position: absolute;
    right: 10px;
    top: 80%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: end;
}

.send-icon {
    width: 20px;
    height: 20px;
    fill: #007bff;
    transition: fill 0.3s;
}

.send-button:hover .send-icon {
    fill: #0056b3;
}

textarea {
    height: 170px;
}

.input-container textarea::placeholder {
    color: #B7BDC8;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
}

.input-container textarea::-webkit-scrollbar {
    width: 8px;
}

.input-container textarea::-webkit-scrollbar-track {
    background: #FFF;
}

.input-container textarea::-webkit-scrollbar-thumb {
    background: #FFF;
}

.input-container textarea::-webkit-scrollbar-thumb:hover {
    background: #FFF;
}

.language h5 {
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
    padding-bottom: 5px;
    color: var(--Global-Cool-Grey-800, #6B7180);
    font-family: Inter;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #1751D0;
}

.language h5.selected {
    color: #1751D0;
}

.language h5:hover {
    color: #1751D0;
}

.language h5.selected::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #1751D0;
}

.summarize-btn {
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid gainsboro;

}

.lang-div {
    width: 90%;
}

.chat-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    width: 100%;
    border: none;
}

.menu {
    display: none;
}

.menu-bar {
    display: none;
}

.close-btn {
    display: none;
}

.sidebar {
    display: none;
    justify-content: space-between;
    flex-direction: column;
}

@media (max-width: 540px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -490px;
        width: 75%;
        height: 100vh;
        background-color: #0056b3;
        color: white;
        padding: 20px;
        transition: left 0.3s ease-in-out;
        justify-content: space-between;
        flex-direction: column;
        display: flex;
    }

    .chat-body {
        margin-left: 0px;
    }

    .menu {
        position: relative;
        top: 32px;
        display: flex;
        left: 20px;

    }

    .menu-bar {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: -2px;
        display: flex;
    }

    .sidebar.open {
        left: 0;
        z-index: 1;
    }

    .close-btn {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
    }

    .deepsearch-i {
        color: #FFFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.8px;
    }

    .new-chat-i {
        display: inline-flex;
        height: 44px;
        padding: 0px 20px;
        align-items: center;
        border-radius: 100px;
        background: #E3EFFC;
        color: #1650CF;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        border: none;
        width: 63%;
    }

    .sidebar-i {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .dropdown-i {
        right: 24px;
    }
}
@media (max-width: 475px) {
    .dropdown {
        font-size: 11px;
    }
    .dropdown-i {
        font-size: 11px;
        right: 24px;
    }
}
@media (max-width: 330px) {
    .language h5 {
        font-size: 11px;
    }

    .dropdown-toggle {
        font-size: 11px;
    }
}